build/
build-*/
build-msvc/
out/
Debug/
Release/

.vs/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.sln
*.vcxproj
*.vcxproj.filters

*.exe
*.obj
*.o
*.dll
*.lib
*.pdb
*.dat

.DS_Store
Thumbs.db